{% extends 'base/baseAdmin.html' %}
{% load static %}
{% block contenido %}

<div class="container text-center">
    <h4 class="text-white text-center text-h3">CALENDARIO ELECTORAL</h4>
    <div class="row">
        <div class="col-md-12 q-pa-xl">
            <div class="main-timeline5">
                <div class="timeline">
                    <div class="timeline-icon"><span class="year">ENERO</span></div>
                    <div class="timeline-content">
                        <h3 class="title">05-ENERO-2020</h3>
                        <p class="description">
                            Convocatoria a Elecciones Generales por el Tribunal Supremo Electoral.
                        </p>
                    </div>
                </div>
                <div class="timeline">
                    <div class="timeline-icon"><span class="year">FEBRERO</span></div>
                    <div class="timeline-content">
                        <h3 class="title">19-FEBRERO-2020</h3>
                        <p class="description">
                            Sorteo público de ubicación en la papeleta.
                        </p>
                    </div>
                </div>
                <div class="timeline">
                    <div class="timeline-icon"><span class="year">MARZO</span></div>
                    <div class="timeline-content">
                        <h3 class="title">16-MARZO-2020</h3>
                        <p class="description">
                            Presentación de solicitud de rehabilitación de ciudadanos inhabilitados.
                        </p>
                    </div>
                </div>
                <div class="timeline">
                    <div class="timeline-icon"><span class="year">JULIO</span></div>
                    <div class="timeline-content">
                        <h3 class="title">23-JULIO-2020</h3>
                        <p class="description">
                            SUSPENSIÓN DE ACTIVIDADES POR DETERMINACIÓN DE LA RESOLUCION 187/2020.
                        </p>
                    </div>
                </div>
                <div class="timeline">
                    <div class="timeline-icon"><span class="year">AGOSTO</span></div>
                    <div class="timeline-content">
                        <h3 class="title">03-AGOSTO-2020</h3>
                        <p class="description">
                            REANUDACIÓN DE ACTIVIDADES.
                        </p>
                    </div>
                </div>
                <div class="timeline">
                    <div class="timeline-icon"><span class="year">SEPTIEMBRE</span></div>
                    <div class="timeline-content">
                        <h3 class="title">06-SEPTIEMBRE-2020</h3>
                        <p class="description">
                            Difusión de propaganda electoral en actos públicos de campaña.
                        </p>
                    </div>
                </div>
                <div class="timeline">
                    <div class="timeline-icon"><span class="year">SEPTIEMBRE</span></div>
                    <div class="timeline-content">
                        <h3 class="title">13-SEPTIEMBRE-2020</h3>
                        <p class="description">
                            Publicación de las listas de candidaturas habilitadas.
                        </p>
                    </div>
                </div>
                <div class="timeline">
                    <div class="timeline-icon"><span class="year">SEPTIEMBRE</span></div>
                    <div class="timeline-content">
                        <h3 class="title">18-SEPTIEMBRE-2020</h3>
                        <p class="description">
                            Sorteo público para la selección de Jurados Electorales.
                        </p>
                    </div>
                </div>
                <div class="timeline">
                    <div class="timeline-icon"><span class="year">SEPTIEMBRE</span></div>
                    <div class="timeline-content">
                        <h3 class="title">21-SEPTIEMBRE-2020</h3>
                        <p class="description">
                            Presentación de excusas para el ejercicio de la labor de jurados.
                        </p>
                    </div>
                </div>
                <div class="timeline">
                    <div class="timeline-icon"><span class="year">OCTUBRE</span></div>
                    <div class="timeline-content">
                        <h3 class="title">16-OCTUBRE-2020</h3>
                        <p class="description">
                            Plazo de prohibición a los medios de comunicación para la difusión de contenidos.
                        </p>
                    </div>
                </div>
                <div class="timeline">
                    <div class="timeline-icon"><span class="year">OCTUBRE</span></div>
                    <div class="timeline-content">
                        <h3 class="title">18-OCTUBRE-2020</h3>
                        <p class="description">
                            ELECCIONES GENERALES 2020.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}